TOKEN_STORE_FILE = "./token_store"
AIRFLOW_USERNAME = "admin"
AIRFLOW_PASSWORD = "bvgNTq2cH8BCd3RQ"
AIRFLOW_PATH = "/Users/id19/miniconda3/bin/airflow"
AIRFLOW_HOST = "http://localhost"
AIRFLOW_PORT = "8080"
DB_HOST = "localhost"
DB_DATABASE = "postgres"
DB_USER = "postgres"
DB_PASSWORD = "postgres"
SMTP_SERVER = "smtp.gmail.com"
SMTP_PORT = "465"
APP_PASSWORD = "your_app_password"